<%= form_with(model: member, html: { multipart: true }, class: 'form-horizontal') do |form| %>  
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cabecalho text-center">
    <p><h3 style="text-decoration: underline; font-weight: bold;">FICHA CADASTRAL DE MEMBROS E CONGREGADOS</h3></p>
    <br>
  </div>

<div class="col-sm-2" style="padding-left: 0;">
  <%= image_tag @member.avatar.url(:normal), class: 'img-rounded' %>
</div>

<div class="col-sm-10">
  <div class="form-group">
    <div class="col-sm-8">
      <%= form.label :name %>*
      <%= form.text_field :name, id: :member_name, class: 'form-control', placeholder: 'NOME COMPLETO' %>
    </div>
    <div class="col-sm-4">
      <%= form.label :birth_date %>*
      <%= form.text_field :birth_date, id: :member_birth_date, class: 'form-control', placeholder: 'DD/MM/AAAA' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <%= form.label :address %>*
       <%= form.text_field :address, id: :member_address, class: 'form-control', placeholder: 'ENDEREÇO' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= form.label :complement %>
      <%= form.text_field :complement, id: :member_complement, class: 'form-control', placeholder: 'COMPLEMENTO' %>
    </div>
    <div class="col-sm-4">
      <%= form.label :phone %>
      <%= form.text_field :phone, id: :member_phone, class: 'form-control', placeholder: 'TELENONE' %>
    </div>
    <div class="col-sm-4">
      <%= form.label :cell_phone %>
      <%= form.text_field :cell_phone, id: :member_cell_phone, class: 'form-control', placeholder: 'CELULAR' %>
    </div>
  </div>
</div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= form.label :marital_status %>*
      <%= form.select :marital_status, [['Solteiro'], ['Casado'], ['Divorciado'], ['Viúvo']], {}, {class: 'form-control'} %>
    </div>
    <div class="col-sm-3">
      <%= form.label :sex %>*
      <%= form.select :sex, [['Masculino'], ['Feminino']], {}, {class: 'form-control'} %>
    </div>
    <div class="col-sm-6">
      <%= form.label :conjugate %>
      <%= form.text_field :conjugate, id: :member_conjugate, class: 'form-control', placeholder: 'CÔNJUGUE' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= form.label :cpf %>*
      <%= form.text_field :cpf, id: :member_cpf, class: 'form-control', placeholder: 'CPF' %>
    </div>
    <div class="col-sm-4">
      <%= form.label :rg %>*
      <%= form.text_field :rg, id: :member_rg, class: 'form-control', placeholder: 'RG' %>
    </div>
    <div class="col-sm-4">
      <%= form.label :profession %>
      <%= form.text_field :profession, id: :member_profession, class: 'form-control', placeholder: 'PROFISSÃO' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <%= form.label :workplace %>
      <%= form.text_field :workplace, id: :member_workplace, class: 'form-control', placeholder: 'LOCAL DE TRABALHO' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= form.label :member %>*
      <%= form.select :member, [['SIM'], ['NÃO']], {}, {class: 'form-control'} %>
    </div>
    <div class="col-sm-3">
      <div class="clearfix"></div>
      <%= form.label :congregated %>*
      <%= form.select :congregated, [['SIM'], ['NÃO']], {}, {class: 'form-control'} %>
     </div>
     <div class="col-sm-6">
      <%= form.label :water_baptism_date %>
      <%= form.text_field :water_baptism_date, id: :member_water_baptism_date, class: 'form-control', placeholder: 'DATA DE BATISMO NAS ÁGUAS' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8">
      <%= form.label :role %>*
      <%= form.select :role, [['Evangelista'], ['Diácono'], ['Membro'], ['Pastor'], ['Presbítero']], {}, {class: 'form-control'} %>
    </div>
    <div class="col-sm-4">
      <%= form.label :ebd %>*
      <div class="clearfix"></div>
      <%= form.select :ebd, [['SIM'], ['NÃO']], {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <%= form.label :baptized %>*
      <div class="clearfix"></div>
      <%= form.select :baptized, [['SIM'], ['NÃO']], {}, {class: 'form-control'} %>
    </div>
    <div class="col-sm-7">
      <%= form.label :date_baptism %>
      <%= form.text_field :date_baptism, id: :member_date_baptism, class: 'form-control', placeholder: 'DD/MM/AAAA' %>
    </div>
  </div>

<div class="form-group">
    <div class="col-sm-6">
      <%= form.label :father_name %>*
      <%= form.text_field :father_name, id: :member_father_name, class: 'form-control', placeholder: 'FILIAÇÃO' %>
    </div>
    <div class="col-sm-6">
      <%= form.label :mother_name %>*
      <%= form.text_field :mother_name, id: :member_mother_name, class: 'form-control', placeholder: 'FILIAÇÃO' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-9">
      <%= form.label :congregation %>*
      <%= form.select :congregation, [['Templo Central'], ['Buenos Aires'], ['Mocambinho'], ['Santa Sofia'], ['Vila Cristalina'], ['Sub. Cong. Real Copagre'], ['Sub. Cong. Bom Jesus']], {}, {class: 'form-control'} %>
    </div>
    <div class="col-sm-3">
      <%= form.label :dizymist %>*
      <div class="clearfix"></div>
      <%= form.select :dizymist, [['SIM'], ['NÃO']], {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= form.label :affiliated_missions %>*
      <div class="clearfix"></div>
      <%= form.select :affiliated_missions, [['SIM'], ['NÃO']], {}, {class: 'form-control'} %>
      
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <%= form.label :description %>
      <%= form.text_area :description, id: :member_description, class: 'form-control', rows: '3', placeholder: 'SE NÃO TEM CARGOS NA IGREJA, QUAIS AS ATIVIDADES QUE PARTICIPA?' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label id="label-foto" for="foto">FOTO</label><br>
      
      <%= form.file_field :avatar %>
      <p class="help-block">Formatos aceitos: jpg, jpeg, png, gif e bmp.</p>
      <!-- <img id="preview-foto" src="#" alt="preview foto" /> -->
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form.submit 'SALVAR', class: 'btn btn-success btn-lg btn-block btn-cadastrar' %>
    </div>
  </div>
<% end %>
