<!-- campo de pesquisa -->
<div class="jumbotron">
  <form action="">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="Pesquisar carteira...">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-lg" type="submit"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
      </span>
    </div>
  </form>
</div>
<!-- /campo de pesquisa -->

<!-- flash notices -->
<p id="notice"><%= notice %></p>

<!-- lista de menbros -->
<% @members.each do |member| %>
<!-- carteira -->
<div class="col-md-6">
  <div class="carteira">
    <div class="media">
      <div class="media-left media-middle">
         <%= image_tag member.avatar.url(:thumb), class: 'img-circle' %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= member.name %></h4>
        <strong><%=t :id %>: </strong> <%= "%.4d" % member.id %> <br>
        <strong><%=t :role %>:</strong> <%= member.role %> <br>
        <strong><%=t :congregation %>:</strong> <%= member.congregation %> <br>
        <strong><%=t :phone %>:</strong> <%= member.cell_phone %> <br>
        <p>
          <div class="btn-group btn-group-xs" role="group">
            <%= link_to 'Visualizar', member, class: 'btn btn-primary' %>
            <%= link_to 'Editar', edit_member_path(member), class: 'btn btn-primary' %>
            <%= link_to 'Imprimir', '#', class: 'btn btn-primary' %>
            <%= link_to 'Excluir', member, method: :delete, data: { confirm: 'Você deseja realmente Excluir?' }, class: 'btn btn-danger' %>
            <!-- <a href="imprimir.html" class="btn btn-default" target="_blank">Imprimir</a> -->
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /carteira -->
<% end %>
<!-- lista de menbros -->