<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @member.birth_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @member.complement %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @member.cell_phone %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @member.marital_status %>
</p>

<p>
  <strong>Conjugate:</strong>
  <%= @member.conjugate %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @member.sex %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @member.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @member.rg %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @member.profession %>
</p>

<p>
  <strong>Workplace:</strong>
  <%= @member.workplace %>
</p>

<p>
  <strong>Member:</strong>
  <%= @member.member %>
</p>

<p>
  <strong>Congregated:</strong>
  <%= @member.congregated %>
</p>

<p>
  <strong>Water baptism date:</strong>
  <%= @member.water_baptism_date %>
</p>

<p>
  <strong>Role:</strong>
  <%= @member.role %>
</p>

<p>
  <strong>Ebd:</strong>
  <%= @member.ebd %>
</p>

<p>
  <strong>Baptized:</strong>
  <%= @member.baptized %>
</p>

<p>
  <strong>Date baptism:</strong>
  <%= @member.date_baptism %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @member.father_name %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @member.mother_name %>
</p>

<p>
  <strong>Congregation:</strong>
  <%= @member.congregation %>
</p>

<p>
  <strong>Dizymist:</strong>
  <%= @member.dizymist %>
</p>

<p>
  <strong>Affiliated missions:</strong>
  <%= @member.affiliated_missions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @member.description %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
