<p id="notice"><%= notice %></p>

 <!-- carteira -->
      <div class="row" style="margin-bottom: 10px">

        <div class="col-md-6 col-print-6">
          <div class="carteira-print">

            <div class="carteira-content">

              <div class="carteira-header col-md-12 col-print-12" style="margin-bottom: 15px;">
                <span>CARTEIRA DE MEMBRO</span>
              </div>

              <div class="col-md-3 col-print-3">
                <%= image_tag("logo.png", class: "logo", height: "50", alt: "logo") %>
              </div>
              <div class="col-md-9 col-print-9 text-center">
                <h5>IGREJA EVANGÉLICA ASSEMBLÉIA DE DEUS</h5>
                <span class="dados-igreja">Avenida Duque de Caxias, 4360 - Água Mineral - Teresina-PI Fone: 3221-9260 Fax: 3221-1658</span>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-8 col-print-8">
                <div class="row" style="margin-bottom: 7px;">
                  <div class="col-md-12 col-print-12 no-padding-right">
                     <div class="titulo-quadro">Nome:</div>
                    <div class="box">
                     <span><%= @member.name.upcase %></span>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 8px;">
                  <div class="col-md-6 col-print-6 no-padding-right">
                    <div class="titulo-quadro">Função:</div>
                    <div class="box">
                      <span><%= @member.role.upcase %></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-print-6 no-padding-right">
                    <div class="titulo-quadro">Data Nasc.:</div>
                    <div class="box">
                      <span><%= @member.birth_date %></span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 col-print-6 no-padding-right">
                    <div class="titulo-quadro">Congregação:</div>
                    <div class="box">
                     <span><%= @member.congregation.upcase %></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-print-6 no-padding-right">
                    <div class="titulo-quadro">Data Batimso:</div>
                    <div class="box">
                      <span><%= @member.water_baptism_date %></span>
                    </div>
                  </div>
                </div>

                  <div class="row" style="margin-bottom: 4px;">
                    <div class="col-md-12 col-print-12 no-padding-right">
                      <span style="font-size: 7px; font-style: italic;">Válido em todo território nacional.</span>
                    </div>
                  </div>

              </div>
              <div class="col-md-4 col-print-4">
                 
                 <%= image_tag @member.avatar.url(:photo), class: 'img-thumbnail' %>
                 
              </div>

              <div class="clearfix"></div>

            </div>

          </div>
        </div>

        <div class="col-md-6 col-print-6">
          <div class="carteira-print">

            <div class="carteira-content">

              <div class="carteira-header col-md-12 col-print-12">
                <span>CARTEIRA DE MEMBRO</span>
              </div>

              <div class="col-md-12 col-print-12" style="margin-top: 5px;">

              <div class="row">
                <div class="col-md-8 col-print-8 no-padding-right">
                  <div class="titulo-quadro">Filiação:</div>
                  <div class="box">
                    <span><%= @member.father_name.upcase %></span>
                  </div>
                  <div class="box">
                    <span><%= @member.mother_name.upcase %></span>
                  </div>
                </div>
                <div class="col-md-4 col-print-4">
                  <div class="titulo-quadro">Batismo E. Santo:</div>
                  <div class="box">
                    <span><%= @member.birth_date %></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 col-print-4 no-padding-right">
                  <div class="titulo-quadro">Naturalidade:</div>
                  <div class="box">
                    <span>PIAUIENSE</span>
                  </div>
                </div>
                <div class="col-md-4 col-print-4 no-padding-right">
                  <div class="titulo-quadro">CPF:</div>
                  <div class="box">
                    <span><%= @member.cpf %></span>
                  </div>
                </div>
                <div class="col-md-4 col-print-4">
                  <div class="titulo-quadro">RG:</div>
                  <div class="box">
                    <span><%= @member.rg %></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-9 col-print-9 no-padding-right">
                  <div class="titulo-quadro">Endereço:</div>
                  <div class="box">
                    <span><%= @member.address %></span>
                  </div>
                </div>
                <div class="col-md-3 col-print-3">
                  <div class="titulo-quadro">Número:</div>
                  <div class="box">
                    <span><%= "%.4d" % @member.id %></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5 col-print-5 no-padding-right">
                  <div class="titulo-quadro">Bairro:</div>
                  <div class="box">
                    <span>MEMORARE</span>
                  </div>
                </div>
                <div class="col-md-7 col-print-7">
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-print-6 no-padding-right">
                  <span class="data">Teresina, <%= Time.now.strftime("%d/%m/%y as %H:%M") %></span>
                </div>
                <div class="col-md-6 col-print-6 text-center">
                  <%= image_tag("assinatura.png", class: "pastor-assinatura", alt: "assinatura") %>
                  <span class="pastor">Antonio Rodrigues de Santana</span><br>
                  <span class="pastor-cargo">Pastor Presidente</span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-print-12 text-center" style="margin-bottom: -20px;">
                  <span class="footer">Este documento é intransferível. Seu titular somente poderá portá-la enquanto proceder em conformidade com os princípios da</span><br><span class="footer2">Palavra de Deus. Quebrado o vínculo, compromete-se a devolvê-la a Secretaria da Igreja.
                  </span>
                </div>
              </div>


              </div>

              <div class="clearfix"></div>

            </div>

          </div>
        </div>

      </div>
      <!-- /carteira -->